#navbar11{

    margin: 50px;
    color:black;
}

#card{
    border: solid;
    margin: 10px;
    padding: 10px;
    width: 400px;
    
}
#card1{
    border: solid;
    width: 400px;
    margin: 10px;
    padding: 10px;
}
#card2{
    border: solid;
    width: 400px;
    margin: 10px;
    padding: 10px;
}



#nav2{

    background-color:whitesmoke;
    margin-top: 50px;
    padding: 30px;
    

}

#nav3 {

    margin: 40px;
    font-size:large;
    color: #000;
    
}

#nav4{

    background-color:rgb(126, 123, 123);
   

}
#drop{

    width: 50px;
    padding: 100px;
}
#availableCard{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100%;
    float: left;
}

#nav3{
    border: solid;
}
#nav-dropdown{
    display: flex;
    justify-content: right;
    border: solid;
}