#box {
  margin-top: 90px;
}

@media all and (min-width: 480px) {
  .SignUp {
    margin: 50px;
    max-width: 320px;
    padding: 300px;
    display: inline;
  }
  #form {
    border: 1px solid rgb(224, 222, 222);

    /* border-radius: 5px; */
   
    
    
  }
  #card{
    border:solid ;
    border-radius: 20px;
  }
  #card1{
    border: solid;
    border-radius: 20px;
  }
 
  
  #btn {
    width: 100px;
    height: 30px;
    margin: 15px;
    font-family: Georgia, “Times New Roman”, Times, serif;
    align-items: center;
    font-size: 15px;
    
  
  }
  #btn2 {
    color: beige;
    width: 150px;
    height: 30px;
    margin: 10px;
    font-size: 15px;
    color: aliceblue;
    font-family: Georgia, “Times New Roman”, Times, serif;
    
  }
  #btn3 {
    width: 150px;
    height: 30px;
    text-align: center;
    
  }
  
  
  #cardList2{
    font-size: small;
  }
  
  
  
  

    width: 500px;
    size: 200px;
    border-radius:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
#h,
#signinList {
  margin: 30px;
  font-family: “Franklin Gothic Medium”, “Arial Narrow”, Arial, sans-serif;

  border: 1px solid rgb(224, 222, 222);
  border-radius: 100px;
}
#card {
  border: solid;
  border-radius: 20px;
}
#card1 {
  border-radius: 20px;
}
#btn {
  width: 100px;
  height: 30px;
  margin: 15px;
  font-family: Georgia, “Times New Roman”, Times, serif;
  align-items: center;
  font-size: 15px;
}
#btn2 {
  color: rgb(121, 121, 77);
  width: 150px;
  height: 30px;
  margin: 10px;
  font-size: 15px;
  color: aliceblue;
  font-family: Georgia, “Times New Roman”, Times, serif;
}
#btn3 {
  width: 150px;
  height: 30px;
  text-align: center;
}
#cardList1{
  /* margin-top: 50px; */
  padding: 10px;
  height: 400px;
  width: 500px;
  align-content: center;
 
}
#headCard{
  width: 100%;
}
